/* P R J E C T S */
/* #projects{
    
} */

#projects_cards_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project_card{
    height: 412px;
    width: 250px;
    margin: 10px 5px;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0 0 4px #000;
}
.card_img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.card_body{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 20px 10px;
}

/* .card_body_texts{

} */
.card_title{
    font-weight: 600;
    font-size: 14px;
}

.card_des{
    font-size: 14px;
}

.card_body_btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.card_but{
    -ms-flex-align: end;
    font-size: 12px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 8px 20px;
    background: transparent;
    cursor: pointer;
}
.card_but:hover{
    color: #FFF;
    background: #000;
}
.card_link{
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}






.GoogleStoreButton{
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: pointer;
}

.GoogleStoreButton:hover{
    background-color: #1e1e1e;
}

.GoogleStoreButton:hover i,
.GoogleStoreButton:hover p{
    color: #FFF;
}

.GoogleStoreButton i{
    width: 25%;
    font-size: 25px;
}

.GoogleStoreButton div{
    width: 80%;
}

.GoogleStoreButton div p{
    font-size: 12px;
    text-align: center;
}

.bold{
    font-weight: 700;
}




@media(max-width:499px){    
    .project_card{
        height: 200px;
        width: 100%;
        margin: 10px 5px;
        border-radius: 5px;
        }
    .card_img{
        border-radius: 5px 5px 0 0;
    }
    .card_body{
        padding: 10px 10px;
    }

    .card_title{
        font-size: 12px;
    }

    .card_des{
        font-size: 12px;
    }

    .card_but{
        font-size: 12px;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 4px 10px;
    }
    .card_link{
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
    }

}