:root {
	font: 20px/1.2 'Roboto', sans-serif; 
}

body,
body * {
	margin: 		 unset;
	box-sizing: 	 border-box;
	padding: 		 unset;
	font-size:		 unset;
	color: 			 unset;
	text-decoration: unset;
}

.section_padding{
	padding: 40px 80px;
}

@media(max-width:799px){
	.section_padding{
		padding: 20px 40px;
	}
}

@media(max-width:499px){
	.section_padding{
		padding: 10px 20px;
	}
}