
/* S I D E B A R*/
#sidebar{
    height: 100%;
    width: 250px;
    padding: 30px 10px;
    background-color: #191919;
    overflow-y: scroll;

}

#logo_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#topbar{
    display: none;
}
.logo_img{
    width: 150px;
    height: 150px;
}

#logo_div h2{
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.sidebar_btn{
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar_btn:hover{
    background-color: #ffffff4b;
}

.sidebar_btn.active{
    color: #191919;
    background-color: #FFF;
}


#aboutMobile{
    display: none;
}
#about{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}
#about #link{
    color: royalblue;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
}

#about #link:hover{
    background-color: #eee;
    border-radius: 10px;
    color: royalblue;
}
#copyright{
    font-size: 12px;
    color: #FFF;
}

@media(max-width:799px){
    #sidebar{
        display: none;
    }

    #logo_div{
        margin-bottom: 0;
    }
    .logo_img{
        width: 60px;
        height: 60px;
    }
 
    #topbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10%;
        min-height: 55px;
        width: 100%;
        background-color: #191919;
        padding: 0 20px;
    }

    #topbar_btns_container{
        padding: 10px 0;
        font-size: 18px;
        border-radius: 10px;
        border: none;
        outline: none;
        color: #FFF;
        text-align: center;
        background-color: transparent;

        appearance: none;
        padding-left: 20px;
        background-image: url('./dropdown.png');
        background-repeat: no-repeat;
        background-position: left 0 center;
        background-size: 1em;
    }

    #topbar_btns_container option{
        color: #191919;
    }
   
    #aboutMobile{
        display: flex;
        background: #191919;
        color: #FFF;
        padding: 0 10px;
        justify-content: space-between;
        align-items: center;
    }
    #aboutMobile #link{
        color: royalblue;
        font-weight: bold;
        padding: 5px 10px;
        text-align: center;
        font-size: 16px;
        border-radius: 5px;
    }
    
    #aboutMobile #link:hover{
        background-color: #eee;
    }
}


@media(max-width:499px){
  
    #topbar_btns_container{
        padding: 10px 5px;
        font-size: 13px;

        appearance: none;
        padding-left: 20px;
        background-image: url('./dropdown.png');
        background-repeat: no-repeat;
        background-position: left 0 center;
        background-size: 1em;
    }
}



/* S C R O L L B A R */
/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #191919;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
