
main #hero_section{
    /* height: 670px; */
    background-color: #343434;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
main #hero_section #hero_text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #hero_section #hero_text h2{
    color: #dfdcdc;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 30px;
    padding: 20px;
}
main #hero_section #hero_img{
    width: 50%;
    background-color: #343434;

}







@media(max-width:499px){
    main #hero_section{
        /* height: 370px; */
        display: flex;
        flex-direction: column-reverse;
        align-items:start;
        justify-content: start;
    }
    main #hero_section #hero_text{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    
    main #hero_section #hero_text h2{
        color: #dfdcdc;
        font-weight: 100;
        letter-spacing: 5px;
        font-size: 20px;
        padding: 8px;
    }
    main #hero_section #hero_img{
        width: 100%;
        background-color: #343434;

    }
}