/* HEADER */
header{
    /* background-color: #EAE509; */
    color: #191919;

}

header #header_upper_line{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

header #logo_div img{
    width: 150px;
}

header #head_options{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

header #head_options .head_options_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 8px 18px;
    cursor: pointer;
}


header #head_options .head_options_item i{
    margin-right: 5px;

}

#fav_item_count{
    margin-left: 8px;
    font-weight: 900;
    color: #2B7A0B;
}

header #header_lower_line{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
}

header #header_lower_line div{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #header_lower_line a{
    padding: 8px 18px;
    cursor: pointer;
}


/* MAIN */

main{
    /* background-color: #D8E9D7; */
}

main #hero_section{
    /* height: 670px; */
    background-color: #343434;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
main #hero_section div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #hero_section div h2{
    color: #dfdcdc;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 30px;
    padding: 20px;
}
main #hero_section img{
    width: 50%;
    background-color: #343434;

}

main #new_products_section{
    margin: 40px 80px;

}

main #new_products_section h2{
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 5px;
    padding-bottom: 40px;
}

main #new_products_section #new_products_div{
    display: flex;
    flex-flow: wrap;
    gap: 5px;
    justify-content: space-around;
}
main #new_products_section #new_products_div .product_card{
    width: 250px;
    height: 400px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 8px #00000075;
    background-color: #FFF;
    cursor: pointer;
}



main #new_products_section #new_products_div .product_card .card_img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius:4px 4px 0 0;
}

main #new_products_section #new_products_div .product_card .card_body{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main #new_products_section #new_products_div .product_card .card_body .card_title{
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 10px;
}
main #new_products_section #new_products_div .product_card .card_body .card_price{
    font-weight: 600;
    font-size: 15px;
}
main #new_products_section #new_products_div .product_card .card_body .add_to_cart{
    width: 50%;
    font-size: 15px;
    padding: 5px 0;
    text-align: center;
    border-radius: 8px;
    background-color: #3a9c0c;
}



main #catagories_section{
    margin: 40px 80px;
}

main #catagories_section h2{
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 5px;
    padding-bottom: 40px;
}

main #catagories_section #catagories_div{
    display: grid;
    gap: 10px;;
    grid-template-rows: 400px 400px;
    grid-template-columns: 400px 400px 400px;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
}

main #catagories_section #catagories_div .catagory_card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-size: cover;
    background-color: #343434;
}

main #catagories_section #catagories_div .catagory_card h2{
    color: #FFF;
    font-weight: 400;
    border-radius: 4px;
    padding: 10px 20px;   
    background-color: #19191996;
    transition: scale 0.25s linear, background-color 0.25s linear;
}

main #catagories_section #catagories_div .catagory_card:hover h2{
    scale: 1.2;
    background-color: #191919;
}

main #catagories_section #catagories_div .L_card{
    height: 400px;
    width: 400px;
    border-radius: 8px;
}

main #catagories_section #catagories_div .XL_card{
    height: 400px;
    width: 810px;
}







footer{
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
}

footer #footer_logo{
    width: 150px;
}

footer a{
    display: block;
    margin: 7px;
    font-size: 15px;
}





