:root {
	font: 20px/1.2 'Roboto', sans-serif; 
}

body,
body * {
	margin: 		 unset;
	box-sizing: 	 unset;
	padding: 		 unset;
	font-size:		 unset;
	color: 			 unset;
	text-decoration: unset;
}


.section_title{
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 5px;
    padding-bottom: 40px;
}

.section_p{
    padding: 40px 80px;
}
.section_m{
    padding: 40px 80px;
}


@media(max-width:499px){

    .section_title{
        font-size: 18px;
        padding: 20px 0;
    }
    
	.section_p{
        padding: 10px 20px;
    }
    .section_m{
        padding: 10px 20px;
    }
}
