

/*  */
.hero-banner-section{
    /* background-image: url('/src/black_friday_facebook_banner_02.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: auto; */
    display: flex;
    justify-content: center;
    align-items: end;
}
.hero-banner-section img{
    width: 100%;
}


.slider-controller-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 10px 0;
}

.slider-point{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #FFF;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
.active-slider{
    background-color: #FFF;
    
}

.slider-point:hover{
    background-color: #FFF;
}

.elemenator-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px 40px;
}

.elemenator-item{
    padding: 20px 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.elemenator-img{
    height: 100px;
    object-fit: contain;
}
.elemenator-title{
    color: var(--prime-color);
    font-size: 25px;
    font-weight: 700;
}
.elemenator-description{
    font-size: 14px;
}

@media (max-width:576px){
    .elemenator-section{
        grid-template-columns: 1fr 1fr;
    }

    .elemenator-item{
        padding: 20px 10px;
        border-radius: 10px;
        background-color: #f0f0f0;
    }
    .elemenator-img{
        width: 50%;
    }

}

.section-title{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px;
    text-align: center;
}

.popular-services-section{
    padding: 20px 40px;
}

.services-countainer{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.services-countainer:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
}

.popular-servise-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    cursor: pointer;
}

.popular-servise-item .text{
    position: absolute;
    z-index: 3;
    color: transparent;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 3px;
}

.popular-servise-item .cover{
    width: 0;
    height: 100%;
    background-color: #ed1c2393;
    border-radius: 8px;
    z-index: 1;
    transition: width 0.5s, background-color .5s;

}


.popular-servise-item:hover .cover{
    background-color: #ED1C24;
    width: 100%;
    
}

.popular-servise-item:hover .text{
    color: #FFF;
    background-color: transparent;
    
}


@media (max-width:576px){
    .services-countainer{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .popular-servise-item .text{
        color: #FFF;
        background-color: #77777754;
        padding: 5px 10px;
        border-radius: 8px;
        font-size: 18px;
    }
}



.customer-reviews-section{
    padding: 20px 40px;
}

.reviews-container{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.review-item{
    background-color: #eee;
    padding: 20px ;
    border-radius: 8px;
}

.review-head{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user-image-container{
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #afafaf;
}
.user-image{
    width: 50px;
}
.rating-stars img{
    width: 100px;
}
.user-name{

}

.review-body{

}

.footer{
    border-top: 1px solid var(--prime-color);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.footer-brand-section img{
    width: 100px;
}

.footer-link-item{
    display: block;
    padding: 5px 0;
}

.footer-link-item:hover{
   color: var(--prime-color);
}

.footer-contact-item{
    padding: 10px 0;
}

.footer-social-media-sction{
    padding: 0 10px;
}
.footer-social-item{
    font-size: 30px;
    padding: 5px 5px;
    cursor: pointer;
}

.footer-social-item :hover{
    scale: 1.2;
    color: var(--prime-color);
}